iframe.adnbtn[src="http://adnbtns.com/adn-btn.html?user=tokyoadn&count=true"
  allowtransparency="true" frameborder="0" scrolling="0"]

  a href='https://alpha.app.net/tokyoadn' rel='me' = t 'follow'
