.footer
  +flex-grow(0)
  +flex-shrink(1)

  a
    text-decoration: none

.footer-icon
  color: $color-text

  @at-root
    a
      &:active, &:focus, &:hover
        .footer-icon
          color: lighten($color-text, 10%)
