=align-items($position)
  -ms-align-items: $position
  -webkit-align-items: $position
  align-items: $position

=display-flex
  display: -ms-flex
  display: -webkit-flex
  display: flex

=flex-flow($value)
  -ms-flex-flow: $value
  -webkit-flex-flow: $value
  flex-flow: $value

=flex-grow($value)
  -ms-flex-grow: $value
  -webkit-flex-grow: $value
  flex-grow: $value

=flex-shrink($value)
  -ms-flex-shrink: $value
  -webkit-flex-shrink: $value
  flex-shrink: $value

=justify-content($position)
  -ms-justify-content: $position
  -webkit-justify-content: $position
  justify-content: $position

=screen-narrow
  @media screen and (max-width: $screen-xs-max)
    @content

=screen-tall
  @media screen and (min-height: $screen-tall)
    @content
