$body-bg: #f9f9f9
$brand-primary: #ce5640
$navbar-default-bg: #fff
$navbar-default-toggle-border-color: #ddd
$font-family-sans-serif: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-serif: Georgia, "Times New Roman", Times, serif
$font-size-base: 14px
$text-color: #4a484c

$font-family-base: $font-family-serif
